@import '../../common/typography';
@import '../../common/input';


.PriceTextField {
  width: calc(100% - 30px) !important;
  max-width: 256px !important;
  float: left !important;
}

.PriceProgressContainer {
  width: 30px !important;
  float: left !important;
  text-align: center !important;
  display: inline-block !important;
}

.PriceProgressIcon {
  margin: 0 auto !important;
  width: 30px !important;
  height: 48px !important;
  padding: 0px !important;
  float: left !important;
}

.PriceProgressSpinner {
  margin: 0 auto !important;
  width: 30px !important;
  height: 48px !important;
  padding: 0px !important;
  float: left !important;
}
