@import '../../common/typography';
@import '../../common/input';

.TableRow {
  border-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.PriceProgress {
  text-align: right !important;
}
