@import '../../common/typography';
@import '../../common/input';

.TableRow {
  table-layout: fixed !important;
  border-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.TableRowColumn {
  padding: 12px 0px 12px 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.TableRowColumnPrice {
  padding: 12px 0px 12px 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 256px !important;
  text-align: center !important;
}

.TableRowColumnProgress {
  padding: 12px 0px 12px 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 30px !important;
  text-align: center !important;
}

.TableRowColumnRemoveLast {
  padding: 12px 0px 12px 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 60px !important;
  text-align: right !important;
}
