.model-portfolios-auto-complete-container {
  @media (min-width: 768px) {
    width: 100% !important;
  }
}

.model-portfolios-auto-complete-menu-item-child > div > div > svg:nth-of-type(1) {
  left: 30px !important;
  top: -3px !important;
}
