.model-portfolios-auto-complete-container {
  @media (min-width: 768px) {
    width: 100% !important;
  }
}

.model-portfolios-auto-complete-menu-item {
  @media (max-width: 767px) {
    font-size: 14px !important;
  }
  @media (min-width: 768px) {
    font-size: 16px !important;
  }
}

.model-portfolios-auto-complete-menu-item-level-1 {
  @media (max-width: 767px) {
    padding-left: 3px !important;
  }
  @media (min-width: 768px) {
    padding-left: 43px !important;
  }
}

.model-portfolios-auto-complete-menu-item-level-2 {
  @media (max-width: 767px) {
    padding-left: 30px !important;
  }
  @media (min-width: 768px) {
    padding-left: 93px !important;
  }
}

.model-portfolios-auto-complete-menu-item-level-3 {
  @media (max-width: 767px) {
    padding-left: 60px !important;
  }
  @media (min-width: 768px) {
    padding-left: 143px !important;
  }
}

.model-portfolios-auto-complete-menu-item-level-4 {
  @media (max-width: 767px) {
    padding-left: 90px !important;
  }
  @media (min-width: 768px) {
    padding-left: 193px !important;
  }
}

.model-portfolios-auto-complete-menu-item-nested div > div {
  @media (max-width: 767px) {
    padding-left: 20px !important;
  }
  @media (min-width: 768px) {
    padding-left: 20px !important;
  }
}

.model-portfolios-auto-complete-menu-item-nested > div > div > svg:nth-of-type(1) {
  top: -3px !important;
  @media (max-width: 767px) {
    left: 0px !important;
  }
  @media (min-width: 768px) {
    left: 0px !important;
  }
}
