.model-portfolios-auto-complete-container {
  @media (min-width: 768px) {
    width: 100% !important;
  }
}

.model-portfolios-auto-complete-menu-item {
  @media (max-width: 767px) {
    font-size: 14px !important;
  }
  @media (min-width: 768px) {
    font-size: 16px !important;
  }
}
