@import '../../common/typography';

.instructions-container {
  margin-top: 10px;
  @media (min-width: 767px) {
    display: table;
    width: 100%;
  }
}

.instruction-container {
  margin: 0 0 15px 0;
  @media (min-width: 767px) {
    display: table-row;
  }
}

.instruction {
  padding-bottom: 7px;
  white-space: nowrap;
  @media (min-width: 767px) {
    display: table-cell;
    width: 1%;
    padding-right: 30px;
  }
  @media (max-width: 767px) {
    display: block;
  }
}

.instruction:last-child {
  @media (min-width: 767px) {
    width: 100%;
  }
}
