@import '../../common/typography';

.investment-amount {
  margin: 30px 0px 30px 0px;
}

.investment-amount-prompt {
  font-size: var(--fontMedium);
  font-family: var(--fontRoboto);
  display: inline-block;
  padding-right: 5px;
}
