@import '../common/colors';
@import '../common/typography';

.paper {
  max-width: 400px;
  margin: 0px auto 15px auto;
}

.paper-insides {
  padding: 15px;
}

.section-header {
  @apply --subHeading;
}

.google-icon {
  @apply --subHeading2;
}

.submit-button-not-loading {
  margin-bottom: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-right {
  display: flex;
  align-items: flex-end;
}

.message {
  text-align: center;
  font-size: var(--fontMedium);
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message-success {
  color: var(--colorPaleGreen);
}

.message-failure {
  color: var(--colorCrimson);
}
