@import '../common/colors';
@import '../common/typography';

.paper {
  max-width: 500px;
  margin: 0px auto 15px auto;
}

.paper-insides {
  padding: 15px;
}

.section-header {
  @apply --subHeading;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left {
}

.flex-right {
}
