@import '../common/typography';
@import '../common/colors';

.google-login-button-container {
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.or-prompt {
  text-align: center !important;
}

.sub-header-2 {
  @apply --subHeading2;
}

.paper {
  max-width: 400px;
  margin: 0 auto;
}

.paper-insides {
  padding: 15px !important;
  text-align: center !important;
  margin-bottom: 0px;
}

.google-icon {
  padding-bottom: 3px;
  color: #fff;
}

.submit-button {
  margin-top: 15px;
}

.submit-button-not-loading {
  margin-bottom: 44px;
}

.loading-indicator {
  margin-bottom: 40px !important;
}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontMedium);
  display: block;
  margin-top: 15px;
}

.block {
  display: block;
}
