@import '../common/colors';
@import '../common/typography';

.navigation {
  background-color: #673AB7;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.navigation-button-left {
  float: left;
}

.logged-in-as-identifier:before {
  content: '';
  display: inline-block;
  height: 36px;
  vertical-align: middle;
}

.logged-in-as-identifier {
  color: #FFF;
  height: 100%;
  vertical-align: middle;
}

.navigation-button-right {
  //float: right;
  float: right;
}
