@import '../../../common/typography';


.price-text-field {
  display: flex;
  justify-content: flex-start;
}

.price-progress-container {
  align-self: flex-end;
  justify-content: flex-start;
}

.price-progress {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  bottom: 10px;
}
