@import '../../../common/typography';
@import '../../../common/input';

.SaveModelPortfolioDiv {
  display: inline-block !important;
}

.SaveModelPortfolioButton {
  width: 30px !important;
  height: 30px !important;
  padding: 0px !important;
}
