@import '../../../common/typography';

.save-model-portfolio-button-container {
  display: inline-block !important;
}

.save-model-portfolio-button {
  width: 30px !important;
  height: 30px !important;
  padding: 0px !important;
}
