@import '../common/typography';
@import '../common/input';

.TableRow {
  border-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.TableRowColumnTextField {
  font-size: 16px !important;
  padding-bottom: 11px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 20% !important;
}

.TableRowColumnPriceTextField {
  font-size: 16px !important;
  padding-bottom: 11px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 14% !important;
}

.TableRowColumnPriceProgress {
  text-align: center !important;
  padding-bottom: 11px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 6% !important;
}

.TableRowColumnPriceRightSpace {
  text-align: center !important;
  padding-bottom: 11px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 2% !important;
}

.TableRowColumnRemoveSecurity {
  text-align: center !important;
  font-size: 16px !important;
  padding-bottom: 11px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


